* {
    margin: 0;
    padding: 0;
}

:root {
    --light-salmon: hsla(20, 100%, 76%, 1);
    --space-cadet: hsla(248, 29%, 29%, 1);
    --lavender-blue: hsla(234, 100%, 92%, 1);
    --tea-green: hsla(92, 34%, 76%, 1);
    --dark-sea-green: hsla(112, 32%, 64%, 1);
}


body {
    font-family: 'Roboto Mono', monospace;
    background: var(--lavender-blue);
    line-height: 1.4em;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    background-color: var(--light-salmon);
    height: 5rem;
    position: sticky;
    top: 0;
}

.nav-container ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.nav-container a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: var(--space-cadet)
}

#home {
    padding-top: 0.4rem;
}

.section-1 {
    margin-bottom: 120px;
    background-color: hsla(234, 100%, 92%, 1)
}

.section-1 h1 {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0px;
}

.section-1 img {
    max-height: 500px;
    min-width: 300px;
    width: 15%;
    height: auto;
    padding: 0rem 2rem;
    border-radius: 50%;
}

.overview {
    display: flex;
}

.overview-info {
    padding: 40px;
}

.overview-info a {
    text-decoration: none;
}

.hobbies {
    margin: 4rem 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hobbies-volleyball,
.hobbies-league,
.hobbies-coding {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.hobby-img {
    padding: 20px 0px;
}

.section-3 h1 {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.recommend-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recommend-container h2 {
    padding: 40px;
}

.recommend-container section {
    display: flex;
    flex-direction: row;
}


.recommend-div {
    padding: 0px 40px;
}

.recommend-txt {
    display: flex;
    flex-direction: column;
}


.recommend-txt p:nth-child(1) {
    flex-grow: 1;
}

.recommend-txt p:nth-child(2) {
    justify-self: flex-end;
}

#last-hr {
    margin-top: 40px;
}

footer {
    height: 5rem;
    background-color: var(--space-cadet);
    display: flex;
    justify-content: center;
}

footer p {
    padding: 2rem 0rem;
    color: #fff;
}

footer a {
    color: #fff;
}